.title{
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
}
.slider-container{
    width: 80%;
    margin: 0 auto;
}
.img-slider{
    max-height: 500px;
}